[Unit]
Description=manages components and its dependencies
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart=/usr/bin/node --title component-manager {{installdir}}/bin/component-manager-systemd
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStartSec=20
StandardOutput=syslog
User=component-manager
Group=component-manager
PrivateTmp=true
NoNewPrivileges=true
RuntimeDirectory=component-manager
StateDirectory=component-manager
ConfigurationDirectory=component-manager
NotifyAccess=all
FileDescriptorStoreMax=2

Environment="LOGLEVEL=trace"

[Install]
WantedBy=multi-user.target
